*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #000222;
    padding: 1.5rem;
    color: white;

    display: flex;
    justify-content: space-between;
}

nav span{
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
}

nav button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;

    font-size: 1.2rem;
}

.completed{
    display: none;
}

.pending li:hover .completed{
    display: inline;
}